# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Others
*.db
*.sublime-project
*.sublime-workspace
*.d
*.crf
*.tra
*.htm
*.html
*.axf
*.iex
*.Jeka
*.lnp
*.bak
*.map
*.dep
*.uvopt
*.__i
*.plg
*.lst
*.Uxus2
*.lst
*.uvopt
*.cogui
*.elf
*.bin
*.xml
*.hex
*.gitignore
Fatarminator.uvopt
*.comarker
*.cogui
*.coproj
.DS_Store
#Build files
Cocox/*
Cocox
